.form {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;

  @media (max-width: 576px) {
    input {
      width: 10rem;
      padding: 0.2rem 0.8rem;
    }
    button {
      padding: 0.2rem 0.8rem;
      font-size: 1.4rem;
      align-self: center;
    }
  }
}

.label {
  justify-self: flex-start;
  grid-column: 1 / -1;
}
