.form {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.label {
  justify-self: flex-start;
  grid-column: 1 / -1;
}