.days {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-auto-rows: auto;
  height: 100%;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    border-radius 0.3s,
    background-color 0.3s;
  &:hover {
    border-radius: 8px;
    background-color: #9b9b9b;
  }

  &.active {
    border: 1px solid lightblue;
    border-radius: 8px;
  }
  &.holiday {
    color: red;
    font-weight: bold;
  }
}
